/* a top level navigation item in the mega menu */
.nav-item {
  color: #000;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  overflow: hidden;
}

.active {
  background-color: #f4f4f4;
  color: #000;
  cursor: default;
  text-decoration: overline;
}

.displayPreference{
  float: none;
  margin: 0;
  text align: center;
  min-height: 1em;
  background-color: #f4f4f4;
}


.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
  box-shadow: none;
  border: 0;
  background-color: #f4f4f4;
  margin: 0;
  float: none;
  text-align: center;
  min-height: 1em;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset,
.fl-prefsEditor-separatedPanel .fl-icon-undo{
  background-color: #f4f4f4;
}

#fluid{
  font-family: 'Palanquin', sans-serif;
  font-size: 1.2em;
  display: block;
  padding: 0 8em;
}
