body {
    background-color: GHOSTWHITE ;
}
img {
    display: block;
    margin: 0 auto;
}
h1 {
    color: red;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1.5px;
}
h2 {
    color: blue;
    font-size: 35px;
    letter-spacing: 1.25px;
}
p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6;
}
li {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
}
