img {
    display: block;
    margin: 0 auto;
}
h1 {
    color: #00AA55;
    font-size: 3.5;
    text-align: center;
    letter-spacing: 1.75;
}
h2 {
    color: #00AA55;
    font-size: 3em;
    text-align: center;
    letter-spacing: 1.5px;
}
h3 {
    color: #00AA55;
    font-size: 2.2em;
    letter-spacing: 1.25px;
}
p {
    color: black;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 1.6;
}
ul {
    list-style-type: circle;
}
li {
    font-size: 1.6em;
    letter-spacing: 1px;
    line-height: 1.5;
}
div.desc {
    text-align: center;
    letter-spacing: 1.0px;
    font-size: 1.6em;
}
figcaption {
    text-align: center;
    letter-spacing: 0.8px;
    font-size: 1.2em;
}
footer {
    padding: 5cm 3cm;
    text-align: center;
}
div.container {
    border: 5px  ;
    width: 16%;
    margin: 40px 50px 40px 0px;
    padding :1cm 1cm 1cm 1cm ;
}
        
nav {
    float: left;
    padding: 10px;
    background-color: #00AA55;
    color: black;
    margin: 1cm;
    border: 3px solid black;
}
body {
    background-color: #FFFFFF;
    padding: 0px 5px;
}
ul.toolbarcss {
    list-style-type: none;
    margin: 0;
    background-color: #00AA55;
    display: flex;
    justify-content: space-around;
    height: 80px;
    border: solid;
    margin-top: 20px;
    padding: 20px 0;
    font-size: 15pt;
    text-align: center;
}
li.p1 {
      border-style: solid;
    width: 260pt;
    text-align: center;
}
li.p2 {
    border-style: solid;
    border-bottom: 0;
    width: 300pt;
    text-align: center;
    height: 100px;
}
li.p3 {
    border-style: solid;
    width: 260pt;
    text-align: center;
}
li.p4 {
    text-align: center;
    width: 260pt;
    border-style: solid;
}
    
