body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
}
img {
    display: block;
    margin: 0 auto;
}
h1 {
    color: #009fcc;
    font-size: 5.8em;
    text-align: center;
    font-weight: 200;
    letter-spacing: 1.75;
    font-family: 'Josefin Sans', sans-serif;
}
span{
  font-size: 0.6em;
}
h2 {
    color: #00AA55;
    font-size: 3em;
    text-align: center;
    letter-spacing: 1.5px;
}
h3 {
  color: #009fcc;
    font-size: 1.8em;
    letter-spacing: 1.25px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 100;
}
p {
    color: black;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 1.6;
    padding: 0px 5px;
    font-family: 'Palanquin', sans-serif;
}
ul {
    list-style-type: circle;
}
li {
    font-size: 1.6em;
    letter-spacing: 1px;
    line-height: 1.5;
}
div.desc {
    text-align: center;
    letter-spacing: 1.0px;
    font-size: 1.6em;
}
figcaption {
    text-align: center;
    letter-spacing: 0.8px;
    font-size: 1.2em;
}
footer {
    padding: 0.5em;
    padding-right: 7em;
    padding-left: 7em;
    background-color: #f4f4f4;
    text-align: right;
}
footer p {
    color: #000;
    font-size:1em;
}
div.container {
    border: 5px;
    width: 16%;
    margin: 40px 50px 40px 0px;
    padding :1cm 1cm 1cm 1cm ;
}
div.title {
  max-width: 100vw;
  height: auto;
  background-color: #f4f4f4;
  margin: 0;
  padding-right: 10em;
  padding-left: 10em;
  padding-top: 4em;
  padding-bottom: 4em;
}
div.content {
  max-width: 100vw;
  height: auto;
  margin: 0;
  padding-right: 18em;
  padding-left: 18em;
  padding-top: 6em;
  padding-bottom: 12em;
}
div.nav {
  height: 5.5em;
  padding-right: 7em;
  padding-left: 3em;
}

.nav ul {
  background-color: #fff;
  display: inline;
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;
}

.nav li {
  height:4.6em;
  line-height: 4.6em;
  font-size: 1.2em;
  font-family: 'Palanquin', sans-serif;
  text-transform: uppercase;
  display: inline-block;
}
.nav a {
  max-height: 4.6em;
  text-decoration: none;
  text-align: center;
  color: #000;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
}

.nav a:hover {
  color: #009fcc;
}

.nav a.active {
  background-color: #f4f4f4;
  color: ##000;
  cursor: default;
  text-decoration: overline;
  }

.nav li ul {
  position: absolute;
  display: none;
  max-width: 18em;
}

.nav li li {
  float: left;
  font-size: .8em;

}

.nav li:focus ul,
.nav li:hover ul {
  display: block;
}


.nav li ul li {
  display: block;
}

li.p1 {
    border-style: solid;
    width: 260pt;
    text-align: center;
}
li.p2 {
    border-style: solid;
    border-bottom: 0;
    width: 300pt;
    text-align: center;
    height: 100px;
}
li.p3 {
    border-style: solid;
    width: 260pt;
    text-align: center;
}
li.p4 {
    text-align: center;
    width: 260pt;
    border-style: solid;
}
div.logo {
    margin: -50px 0px;
    float: left;
    top: 0;
}
li.p1:hover {
    background-color: black;
        color: white;
}
li.p2:hover {
    background-color: black;
        color: white;
}
li.p3:hover {
    background-color: black;
        color: white;
}
li.p4:hover {
    background-color: black;
        color: white;
}
li.p1:active {
    background-color: black;
        color: white;
}
li.p2:active {
    background-color: black;
        color: white;
}
li.p3:active {
    background-color: black;
        color: white;
}
li.p4:active {
    background-color: black;
        color: white;
}
a.a1:hover {
    color:white
}
a.a2:hover {
    color:white
}
a.a3:hover {
    color:white
}
a.a4:hover {
    color:white
}
a.a1:active {
    color:white
}
a.a2:active {
    color:white
}
a.a3:active {
    color:white
}
a.a4:active {
    color:white
}
